.PokeItem {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.PokeItem__img {
  
}

.PokeItem__number {
  
}

.PokeItem__title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #313131;
  font-weight: bold;
  text-transform: capitalize;
}